.header-toolbar {
    padding: 10px;
    background: var(--header-bg);
    color: white;
    border-radius: 8px 8px 0 0;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;


    .bread-crumb {
        display: flex;
        align-items: center;

        :not(:first-child)::before {
            content: "/";
            opacity: 0.5;
        }
    }



        .fake-link {
            user-select: none;
            cursor: pointer;
            border: 1px solid var(--header-label-bg);
        }

        .seperator {
            opacity: 0.7;
        }

}