.media-card {
    display: flex;
    gap: 5px;
    margin: 5px;

    h2 {
        margin: 0;
    }

    section {
        border-radius: 15px;

        background-color: white;
    }

    section:has(h2) {
        color: green;
        padding: 15px;
        flex-grow: 1;
        opacity: 0;
        transform: translateY(20px);
        animation: showFeature 0.5s forwards;
        animation-delay: 1s;
    }

    section:has(img) {

        width: 128px;
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 128px;
        object-fit: contain;
    }
}