mobile-layout {
    width: 100%;

    @media screen and (min-width:360px) {
         max-width: 360px;
         
    } 
    
   

    background: #E4C7F1;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 300px;
    height: 100svh;
    position: relative;

    p {
        margin: 0;
    }

    .message {
        display: flex;
        flex-direction: column;

        background-color: #103459;
        color: #efefef;

        &:not(.merge-up) {
            margin-top: 25px;
        }

        &.compact-mode {
            flex-direction: row;
            width: 300px;

            p {
                flex-grow: 1;
            }
        }

        small {
            align-self: flex-end;
            font-size: smaller;
            opacity: 0.7;
        }

        &::before {
            background-color: #103559;
            padding: 0 5px;
            content: attr(data-sender);
            position: absolute;
            font-size: smaller;
            border-radius: 5px;
            top: 0;
            left: 0;
            margin-top: -18px;
            margin-left: -7px;
        }
    }
}