.loading-indicator {
    font-size: 1em;
    color: #666;
    text-align: center;
    padding: 20px;
    font-weight: 400;
}


/* تعریف متغیر عددی برای انیمیشن اعداد */
@property --num {
    syntax: '<integer>';
    initial-value: 1;
    inherits: false;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    flex-direction: column;
    gap: 5px;
}

.loading-indicator:before {
    content: " ";
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* ایجاد افکت چرخش دایره */
    border: 4px solid #f3f3f357;
    border-top: 4px solid #3498db;



    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #3498db;

    /* اجرای همزمان دو انیمیشن: چرخش و شمارش */
    animation: spin 2s linear infinite;
}

.loading-indicator.red-mode {
    color: #db3498;

    &:before {
        border-top: 8px solid #db3498;
    }
}

/* نمایش عدد داخل دایره با استفاده از Counter */
.loading-indicator::after {
    counter-reset: num var(--num);
    content: counter(num);
    animation: count 60s linear forwards;
}

/* انیمیشن چرخش دایره */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* انیمیشن معکوس برای صاف نگه داشتن عدد */
@keyframes reverse-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* انیمیشن تغییر عدد از 1 تا 60 */
@keyframes count {
    from {
        --num: 1;
    }

    to {
        --num: 60;
    }
}