 content-card {

     padding: 10px;
     border-radius: 10px;
     background-color: #16314D;
     color: #efefef;
 }

 @layer indicator-component {
     indicator-message-element {
         display: flex;
         flex-direction: column;
         align-self: flex-end;
         margin: 5px;
         margin-left: auto;
         width: 200px;

         &::after {
             content: attr(data-state);
             align-self: flex-end;
             font-size: smaller;
             letter-spacing: 1px;
             margin: 0 15px;

             background-image: linear-gradient(-45deg, #212121 0, #a0a0a0 10%, #212121 20%);
             background-position: 0;
             background-clip: text;
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
             background-size: 200% auto;
         }

         &.animate::after {
             animation: shine 2s infinite linear;
         }
     }
 }

 @keyframes shine {
     to {
         background-position: -200% center;
     }
 }


 @layer indicator-state {

     indicator-message-element[data-state=success]::after {
         background-image: linear-gradient(#356A36, #356A36);
         color: #356A36;
     }

     indicator-message-element[data-state=failed]::after {
         background-image: linear-gradient(#C90000, #C90000);
         color: #C90000;
     }
 }